body::-webkit-scrollbar {
  width: 10px; 
}

body::-webkit-scrollbar-track {
  background: #fde4b8; 

}

body::-webkit-scrollbar-thumb{
  background-color: #4e3203; 
  border-radius: 9999px; 
  border: 1px solid #f3f3f3; 
  transition: all ease-in 0.3s;
}

body::-webkit-scrollbar-thumb:hover{
  background-color: #d97706; 
}
.side::-webkit-scrollbar {
  width: 8px; 
}

.side::-webkit-scrollbar-track {
  background: #fde4b8; 

}

.side::-webkit-scrollbar-thumb{
  background-color: #4e3203; 
  border-radius: 9999px; 
  border: 1px solid #f3f3f3; 
  transition: all ease-in 0.3s;
}

.side::-webkit-scrollbar-thumb:hover{
  background-color: #d97706; 
}